#!/bin/bash

# Encapsulate retrieval of git config options for greenbase

get_config() {
  [[ $# -ne 1 ]] && { fail "git config greenbase.???: No option specified."; }
  key=$1

  # Check git config
  value=$($git config "greenbase.${key}")
  if [[ ! -z $value ]]; then
    echo $value
    return 0
  fi

  cat >&2 <<END
  Key not found: ${key}
  Configure with:
  
    git config greenbase.${key} <option>

END
  exit 1
}
export -f get_config

